<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdCSyLVOjhUlCYE_amkNZFuZEga0uqq4o</string>
	<key>GCM_SENDER_ID</key>
	<string>384944417843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventPlatformApp</string>
	<key>PROJECT_ID</key>
	<string>event-platform-ae772</string>
	<key>STORAGE_BUCKET</key>
	<string>event-platform-ae772.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384944417843:ios:83b5e02b706570f221c746</string>
</dict>
</plist>